<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.alcatraz.audiohq">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AudioHQApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SetupActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PresetGeneralActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.PreferenceActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.MainActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.AboutActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.PreferenceInnerActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.PresetInnerActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.PlayingGeneralActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.DefaultProfileActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.CheckActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.LogActivity"
            android:excludeFromRecents="true" />
        <activity android:name=".activities.WhiteListPickActivity" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name=".services.FloatPanelService" />
<!--        <service-->
<!--            android:name=".services.Discharger"-->
<!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.accessibilityservice"-->
<!--                android:resource="@xml/accessibility_discharger" />-->
<!--        </service>-->

    </application>

</manifest>