<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.alcatraz.audiohq">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:name=".AudioHQApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.SetupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.PresetGeneralActivity" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.PreferenceActivity" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.MainActivity" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.AboutActivity" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.PreferenceInnerActivity" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.PresetInnerActivity" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.PlayingGeneralActivity" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.DefaultProfileActivity" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.CheckActivity" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.LogActivity" />

        <receiver
            android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name=".services.FloatPanelService" />
    </application>

</manifest>